.red {
    background-color: red;
}
.red.shadow-css {
    box-shadow: 0 0 90px red;
}
.yellow {
    background-color: yellow;
}
.yellow.shadow-css {
    box-shadow: 0 0 90px yellow;
}
.green {
    background-color: rgb(14,255,26);
}
.green.shadow-css {
    box-shadow: 0 0 90px rgb(14,255,26);
}
.trafficLight {
    width: 31vh;
    height: 31vh;
    border-radius: 50%;
    margin: 0.3rem 0 0.3rem 0
}
.mainFrame {
    background-color: black;
    display: inline-block;
    padding: 0.5rem;
}